.chat-room-sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30%;
  background-color: green;
  height: 100%
}

.current-chat-room {
  top: 0px;
  left: 30%;
  position: absolute;
  width: 70%;
  background-color: blue;
  height: 100%;
}

.bloc-chat-modal {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 250px;
  height: 150px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  background-color: gray;
  z-index: 1;
}

.chat-room-name{
  cursor: pointer;
}
